{% load static %} {% load sass_tags %}

<section>
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-12 p-0">
        <div class="login-card">
          <form method="post" class="theme-form login-form">
            <h4 class="mb-3">Change Your Password </h4>
            <div class="form-group">
              {% csrf_token %}
              {{ form }}
           

              <div class=" row ">
                
            <div class="form-group col-md mt-2">
              <a  href="{% url 'home'  %}"><span class="btn btn-info"  style="margin-right: 3rem;">Back</span></a>
            </div>
            <div class="form-group col-md mt-2">
              <button class="btn btn-primary " type="submit">submit</button>
            </div>
          </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</section>