<header class="main-nav pt-4">
  <nav>
    <div class="main-navbar">
      <div id="mainnav">
        <ul class="nav-menu custom-scrollbar">
          <li class="back-btn">
            <div class="mobile-back text-end">
              <span>Back</span
              ><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
            </div>
          </li>
          <li class="dropdown">
            <a class="nav-link menu-title mb-1" href="{% url 'exhibitor_dashboard' %}"
              ><i data-feather="home"></i><span>Dashboard</span></a
            >
          </li>

          <li class="dropdown">
            <a class="nav-link menu-title" href="#"
              ><i data-feather="phone"></i><span>Vendors</span></a
            >
            <ul class="nav-submenu menu-content">
              <li><a href="{% url 'venders' %}">All Venders</a></li>
              
               </ul>
          </li>

          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="info"></i><span>General Information</span></a
            >
            <ul class="nav-submenu menu-content">
              <li><a href="{% url 'show_info' %}">Show Information</a></li>
              <li><a href="{% url 'key_contacts' %}">Key Contacts</a></li>
              <li><a href="{% url 'stall_aminities' %}">Stall Amenities</a></li>
              <li><a href="{% url 'move_in_move_out' %}">Move-In Move-Out Schedule</a></li>
              <li>
                <a href="{% url 'rules_and_regulations' %}"
                  >Rules and Regulation</a
                >
              </li>

              <!-- add anather li as sub link -->
            </ul>
          </li>
          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="file-text"></i><span>Exhibitor Forms</span></a
            >
            <ul class="nav-submenu menu-content">
              <li>
                <a href="{% url 'participation_form' %}">Participation Form</a>
              </li>
              {% comment %} <li><a href="#">1 Form</a></li>
              <li><a href="#">2 Form</a></li>
              <li><a href="#">3 Form</a></li>
              <li><a href="#">4 Form</a></li>
              <li><a href="#">5 Form</a></li> {% endcomment %}
              <!-- add anather li as sub link -->
            </ul>
          </li>

          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="download"></i><span>Downloads</span></a
            >
            <ul class="nav-submenu menu-content">
              <li>
                <a href="{% url 'exhibitor_downloads' %}">Email Signature</a>
              </li>
              <li>
                <a href="{% url 'exhibitor_static_downloads' %}">Event Creatives</a>
              </li>

              <li>
                <a href="{% url 'event_promotion_download' %}">Promotional Creatives</a>
              </li>
              <li>
                <a href="{% url 'floor_plan' %}">Floor Plan</a>
              </li>
              {% comment %} <li><a href="#">1 Form</a></li>
              <li><a href="#">2 Form</a></li>
              <li><a href="#">3 Form</a></li>
              <li><a href="#">4 Form</a></li>
              <li><a href="#">5 Form</a></li> {% endcomment %}
              <!-- add anather li as sub link -->
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
