{% extends 'layout/other-base.html' %}

{% load static %} {% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/sweetalert2.scss' %}">
<!-- Plugins css Ends-->
<style>
.errorlist{
    color:red;
}
</style>
{% endblock %}

{% block content %}

{% include "./components/login-sa-validation.html" %}

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}