{% extends 'layout/visitor_base/base.html' %} {% load static %} {% load sass_tags %}
{% block content %}
<div class="page-body">

    
    <div class="container ">
        <img
          src="{% static 'assets/images/banner/visitor-dashboard-banner.jpg' %}"
          class="img-fluid mb-2"
          alt="..."
        />
  
        <div class="d-grid gap-2">
        
          
          <a
            class="text-dark text-decoration-none shadow p-3 bg-body rounded text-start"
            type="button"
            > <span class="d-flex justify-content-between"><span class="d-flex align-items-center"><span><i data-feather="calendar"></i></span> <span class="ms-1">Event Agenda</span></span> <span class=" text-end"><i  data-feather="calendar"></i></span></span>
            </a
          >

          <a
            class="text-dark text-decoration-none shadow p-3 bg-body rounded text-start"
            type="button"
            > <span class="d-flex justify-content-between"><span class="d-flex align-items-center"><span><i data-feather="calendar"></i></span> <span class="ms-1">Paperworld ME Exhibitors</span></span> <span class=" text-end"><i  data-feather="calendar"></i></span></span>
            </a
          >
          <a
            class="text-dark text-decoration-none shadow p-3 bg-body rounded text-start"
            type="button"
            > <span class="d-flex justify-content-between"><span class="d-flex align-items-center"><span><i data-feather="calendar"></i></span> <span class="ms-1">Gifts & Lifestyle ME Exhibitors</span></span> <span class=" text-end"><i  data-feather="calendar"></i></span></span>
            </a
          >
          <a
            class="text-dark text-decoration-none shadow p-3 bg-body rounded text-start"
            type="button"
            > <span class="d-flex justify-content-between"><span class="d-flex align-items-center"><span><i data-feather="calendar"></i></span> <span class="ms-1">Paperworld ME Exhibitors</span></span> <span class=" text-end"><i  data-feather="calendar"></i></span></span>
            </a
          >
          <a
            class="text-dark text-decoration-none shadow p-3 bg-body rounded text-start"
            type="button"
            > <span class="d-flex justify-content-between"><span class="d-flex align-items-center"><span><i data-feather="calendar"></i></span> <span class="ms-1">Gifts & Lifestyle ME Products</span></span> <span class=" text-end"><i  data-feather="calendar"></i></span></span>
            </a
          >
          
          
         
         
        </div>


       
  
        <div class="row mt-3">
          <div class="col-4">
            <div class="card text-decoration-none shadow p-3 bg-body rounded text-center">
              <div class="card-body p-0">
                <h5 class="card-title"></h5>
                <i data-feather="calendar"></i>
                <p class="card-text">
                    
                 Visitors Search
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card text-decoration-none shadow p-3 bg-body rounded text-center">
              <div class="card-body p-0">
                <h5 class="card-title"></h5>
                <i data-feather="calendar"></i>
                <p class="card-text">
                    
                  My Schedule
                </p>
               
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card text-decoration-none shadow p-3 bg-body rounded text-center">
              <div class="card-body p-0">
                <h5 class="card-title"></h5>
                <i data-feather="calendar"></i>
                
                <p class="card-text">
                   
                 Recommended for me
                </p>
                
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-4">
            <div class="card text-decoration-none shadow p-3 bg-body rounded text-center">
              <div class="card-body p-0">
                <h5 class="card-title"></h5>
                <i data-feather="calendar"></i>
                <p class="card-text">
                   
                  Exhibitor Representatives
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card text-decoration-none shadow p-3 bg-body rounded text-center">
              <div class="card-body p-0">
                <h5 class="card-title"></h5>
                <i data-feather="calendar"></i>
                <p class="card-text">
                   
                  Recommended for me
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card text-decoration-none shadow p-3 bg-body rounded text-center">
              <div class="card-body p-0">
                <h5 class="card-title"></h5>
                <i data-feather="calendar"></i>
                <p class="card-text">
                   
                  My Skip List
                </p>
               
              </div>
            </div>
          </div>
        </div>
      </div>

    
    
</div>


{% endblock content %}




{% block scriptcontent %}

{% endblock scriptcontent %}