{% extends 'layout/exhibitorBase/base.html' %} {% load static %} {% load sass_tags %} {% block css %}
<!-- Plugins css start-->
<link
  rel="stylesheet"
  type="text/css"
  href="{% sass_src 'assets/scss/select2.scss' %}"
/>
<!-- Plugins css Ends-->



<!-- custom internal css-->
<style>
  #id_senior_phone_0 , #id_phone_0{
    position: absolute;
    width: 20%;
  }
  
  #id_senior_phone_1 , #id_phone_1{
       padding-left: 23%;
  }

</style>
{% endblock %} {% block content %}

<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Exhibitor Participation Form</h5>
            <div>
              <span class="text-primary">NOTE:</span>
              <span >The form can be saved and edited multiple times. But once you submit the form, the data will be freezed and submitted to the organisor. You won’t be able to make any modifications once the form is submitted.</span>
              
              <br>
              <span  class="text-danger pt-4 disabled-form-msg"></span>
               {% if form.errors %}
            <p  class="text-danger pt-4 disabled-form-msg">Something is Wrong Please check all Entries.</p>
            {% endif %}
             
            </div>
          </div>
          <div class="card-body">
            <div class="stepwizard">
              <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                  <a class="btn btn-primary" href="#step-1">1</a>
                  <p>Personal Details</p>
                </div>
                <div class="stepwizard-step">
                  <a class="btn btn-light" href="#step-2">2</a>
                  <p>Company Details</p>
                </div>
                <div class="stepwizard-step">
                  <a class="btn btn-light" href="#step-3">3</a>
                  <p>Billing Details</p>
                </div>
                <div class="stepwizard-step">
                  <a class="btn btn-light" href="#step-4">4</a>
                  <p>Profile & Booth Details</p>
                </div>
              </div>
            </div>
            <form class="needs-validation" action="#" method="POST" id="participation_form" data-product-subcatogory-url="{% url 'product_sub_catagories_Ajax' %}" novalidate>
              {% csrf_token %}
             
              <div class="setup-content" id="step-1">
                <div class="col-xs-12">
                  <div class="col-md-12">
                    <div>
                      <h4 class="d-inline-block  bg-primary p-1 my-4 rounded">Senior Management</h4>
                      <div class="row">

                        <div class="col-md mb-3 form-group">
                          <label class="control-label">First Name</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.senior_person_first_name.errors }}</span>
                          {{ form.senior_person_first_name }}
                          
                        </div>

                        <div class="col-md mb-3">
                          <label class="control-label">Last Name</label>
                           <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.senior_person_last_name.errors }}</span>
                          {{ form.senior_person_last_name }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md mb-3">
                          <label class="control-label">Designation</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.senior_designation.errors }}</span>
                          {{ form.senior_designation }}
                        </div>

                        <div class="col-md mb-3">
                          <label class="control-label">Department</label>
                           <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.senior_department.errors }}</span>
                         {{ form.senior_department }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md mb-3">
                          <label class="control-label">Mobile</label>
                           <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.senior_phone.errors }}</span>
                          {{ form.senior_phone }}
                        </div>

                        <div class="col-md mb-3">
                          <label class="control-label">Email</label>
                           <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.senior_email.errors }}</span>
                          {{ form.senior_email }}
                        </div>
                      </div>


                    </div>

                   

                    <div>
                      
                      <h4 class="d-inline-block bg-primary p-1 my-4 rounded">Key Contact Person</h4>

                    

                      <div class="row">
                        <div class="col-md mb-3 form-group">
                          
                          <label class="control-label">First Name</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.contact_person_first_name.errors }}</span>
                           {{ form.contact_person_first_name }}
                          <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="col-md mb-3 form-group">
                          <label class="control-label">Last Name</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.contact_person_last_name.errors }}</span>
                          {{ form.contact_person_last_name }}
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md mb-3">
                          <label class="control-label">Designation</label>
                           <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.designation.errors }}</span>
                          {{ form.designation }}
                          {% comment %} <select
                          class="js-example-basic-single form-control"
                            required="required"
                          >
                            <option selected disabled>select</option>
                            <option>CEO</option>
                            <option>Manager</option>
                            <option>Accountent</option>
                          </select> {% endcomment %}
                        </div>

                        <div class="col-md mb-3">
                          <label class="control-label">Department</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.department.errors }}</span>
                          {{ form.department }}
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md mb-3 form-group">
                          <label class="control-label">Mobile</label>
                           <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.phone.errors }}</span>
                          {{ form.phone }}
                        </div>

                        <div class="col-md mb-3">
                          <label class="control-label">Email</label>
                            <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.email.errors }}</span>
                          {{ form.email }}
                        </div>
                      </div>
                    </div>

                    <button
                      class="btn btn-primary nextBtn pull-right"
                      type="button"
                    >
                      Next
                    </button>
                  </div>
                </div>
              </div>

              <div class="setup-content" id="step-2">
                <div class="col-xs-12">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md mb-3">
                        <label class="control-label">Company Name</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.companyName.errors }}</span>
                        {{ form.companyName }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label">Apartment, Unit, Building, Floor, etc.</label>
                        <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.address1.errors }}</span>
                        {{ form.address1 }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label">Street Address </label>
                        <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.address2.errors }}</span>
                        {{ form.address2 }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <label for="" class="control-label">Pin</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.zip.errors }}</span>
                        {{ form.zip }}
                      </div>
                      <div class="col-md mb-3">
                        <label for="" class="control-label">City</label>
                        <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.city.errors }}</span>
                         {{ form.city }}
                      </div>
                      <div class="col-md-2 mb-3">
                        <label for="" class="control-label">State</label>
                              <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.state.errors }}</span>
                        {{ form.state }}
                      </div>
                      <div class="col-md mb-3">
                        <label for="" class="control-label">Country</label>
                             <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.country.errors }}</span>
                        {{ form.country }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label">Website (eg: 'https://intimasia.in')</label>
                           <span class="text-danger">*</span>
                          <span class="text-danger block"> {{  form.website.errors }}</span>
                        {{ form.website }}
                      </div>
                      <div class="col-md mb-3">
                        <label for="" class="control-label">Email</label>
                         <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.company_email.errors }}</span>
                        {{ form.company_email }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label"
                          >Nature Of Business</label
                        >
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.nature_of_bussiness.errors }}</span>
                        {{ form.nature_of_bussiness }}
                        
                      </div>
                    </div>

                    <button
                      class="btn btn-primary nextBtn pull-right"
                      type="button"
                    >
                      Next
                    </button>
                  </div>
                </div>
              </div>

              <div class="setup-content" id="step-3">
                <div class="col-xs-12">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md mb-3">
                        <label class="control-label">Billing Name</label>
                         <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.billing_companyName.errors }}</span>
                        {{ form.billing_companyName }}

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label">Apartment, Unit, Building, Floor, etc.</label>
                         <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.billing_address1.errors }}</span>
                            {{ form.billing_address1 }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label">Street Address </label>
                        <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.billing_address2.errors }}</span>
                            {{ form.billing_address2 }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 mb-3">
                        <label for="" class="control-label">Pin</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.billing_zip.errors }}</span>
                         {{ form.billing_zip }}
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="" class="control-label">City</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.billing_city.errors }}</span>
                        {{ form.billing_city }}
                      </div>
                      <div class="col-md mb-3">
                        <label for="" class="control-label">State</label>
                        <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.billing_state.errors }}</span>
                        {{ form.billing_state }}
                      </div>
                      <div class="col-md mb-3">
                        <label for="" class="control-label">Country</label>
                         <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.billing_country.errors }}</span>
                        {{ form.billing_country }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label">GST</label>
                         <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.company_GST.errors }}</span>
                        {{ form.company_GST }}
                      </div>
                      <div class="col-md mb-3">
                        <label for="" class="control-label">PAN</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.company_PAN.errors }}</span>
                        {{ form.company_PAN }}
                      </div>
                    </div>

                    <button
                      class="btn btn-primary nextBtn pull-right"
                      type="button"
                    >
                      Next
                    </button>
                  </div>
                </div>
              </div>
              <div class="setup-content" id="step-4">
                <div class="col-xs-12">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md mb-3">
                        <label class="control-label">Booth Number</label>
                           <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.boothNumber.errors }}</span>
                       {{ form.boothNumber }}
                      </div>
                      <div class="col-md mb-3">
                        <label class="control-label">Booth Size</label>
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.boothSize.errors }}</span>
                        {{ form.boothSize }}
                      </div>
                      <div class="col-md mb-3">
                        <label class="control-label">Booth Type</label>
                         <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.boothType.errors }}</span>
                         {{ form.boothType }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label"
                          >Our Brnad (If Any)</label
                        >
                          <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.our_brand.errors }}</span>
                       {{ form.our_brand }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label"
                          >Primary Product & Services</label
                        >
                         <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.product_catogory.errors }}</span>
                        {{ form.product_catogory }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md mb-3">
                        <label for="" class="control-label"
                          >Secondory Product & Services</label
                        >
                             <span class="text-danger">*</span>
                          <span class="text-danger block"> {{ form.product_sub_catogory.errors }}</span>
                        {{ form.product_sub_catogory }}
                      </div>
                    </div>

                    <input class="btn btn-success pull-right m-2" name="finish" value="submit" type="submit">
                      
                    <input class="btn btn-primary pull-right m-2"  name="save_and_edit" value="save" type="submit">
                    
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scriptcontent %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCrm3QzMrbB5bvfUhd2iAOnAt5aKO4sEfk&address"></script>
<script type="text/javascript">

{% comment %} const city=$('#id_city')
const state=$('#id_state')
const country=$('#id_country') {% endcomment %}

  let k;
  function GetDetails(pzip, pcity, pstate,pcountry) {
      var geocoder = new google.maps.Geocoder();
      var postalCode = document.getElementById(`${pzip}`).value;
      geocoder.geocode({ 'address': postalCode }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
              console.log(results[0])
              k=results[0]
              var address = results[0].formatted_address;
              var pin = results[0].address_components[results[0].address_components.length-4].long_name;
             
              var country = results[0].address_components[results[0].address_components.length - 1].long_name;
              var state = results[0].address_components[results[0].address_components.length - 2].long_name;
              var city = results[0].address_components[results[0].address_components.length - 3].long_name;
              // var city = results[0].address_components[1].long_name
              
              document.getElementById(`${pcountry}`).value = country;
              document.getElementById(`${pstate}`).value = state;
              document.getElementById(`${pcity}`).value = city;
          }
      });
  };

  



  
  $("#id_zip").focusout(function(){
    let zip=$("#id_zip").val()
    GetDetails('id_zip','id_city','id_state','id_country')
      
    {% comment %} $.ajax({                       // initialize an AJAX request
                url: "https://app.zipcodebase.com/api/v1/search",                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'apikey': "a63fca90-6a80-11ed-8d10-e70b8d42005b" ,      // add the country id to the GET parameters
                    'codes': zip,      // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                  
                  console.log(data.results[zip][0])
                  zip_info=data.results[zip][0]
                  $('#id_city').val(zip_info.city)
                  $('#id_state').val(zip_info.state)
                  $('#id_country').val(zip_info.country_code)
                  }
        }); {% endcomment %}
  });
  
  $("#id_billing_zip").focusout(function(){
    let zip=$("#id_billing_zip").val()
    GetDetails('id_billing_zip','id_billing_city','id_billing_state','id_billing_country')
    {% comment %} $.ajax({                       // initialize an AJAX request
              url: "https://app.zipcodebase.com/api/v1/search",                    // set the url of the request (= /persons/ajax/load-cities/ )
              data: {
                  'apikey': "a63fca90-6a80-11ed-8d10-e70b8d42005b" ,      // add the country id to the GET parameters
                  'codes': zip,      // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                
                console.log(data.results[zip][0])
                zip_info=data.results[zip][0]
                $('#id_billing_city').val(zip_info.city)
                $('#id_billing_state').val(zip_info.state)
                $('#id_billing_country').val(zip_info.country_code)
                }
              }); {% endcomment %}
  });



  $( document ).ready(function() {
    
    if ({{ status }}==0){
    $("input[name='finish']").attr("disabled", true)
    $("input[name='save_and_edit']").attr("disabled", true)
    $(".disabled-form-msg")[0].innerHTML="This form has been submitted by you to the Organisor and hence cannot be edited."
      }



      // Auto generated dropdown for sub product catogary

      $("#id_product_catogory").change(function(){
        const url=$("#participation_form").attr("data-product-subcatogory-url");
        const product_id=$(this).val();
        console.log(product_id)
        console.log(url)
        
        $("#id_product_sub_catogory").html("<option value=''>-------</option>")
        product_id.forEach(element => {
          $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
              data: {
                  'product_id': element       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                  //$("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
              
                  {% comment %} console.log(data)
                  console.log(k) {% endcomment %}
                  $("#id_product_sub_catogory").append(data)

                }
          });

          //console.log(typeof element)
          //console.log(element)
          //k=k+"<option>"+element+"</option>"
        });
        

      })



  });




</script>
<!-- Plugins JS start-->
<script src="{% static 'assets/js/form-wizard/form-wizard-two.js' %}"></script>
<script src="{% static 'assets/js/form-validation-custom.js'%}"></script>
<!-- Plugins JS start-->
<script src="{% static 'assets/js/select2/select2.full.min.js'%}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js'%}"></script>

<!-- Plugins JS Ends-->
<!-- Plugins JS Ends-->
{% endblock %}
