 <div class="card">
            <!-- <h2 class="text-center">General Information</h2> -->
           <div class="card-body">
            <h5>Show Information</h5>
            <div class="table-responsive">
            <table class=" table table-bordered border-dark w-100">
                <!-- <caption>List of users</caption> -->
                <thead>
                    <tr>
                        <th scope="col">Official Fair Name</th>
                        <th scope="col">INTIMASIA 2023-Mumbai</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td><b>Venue</b></td>
                        <td><b>Bombay Exhibition & Convention Center</b><br>
                            Hall-4, NESCO, Goregaon,<br>
                            Mumbai - 400063, Maharashtra, India
                        </td>

                    </tr>
                    <tr>

                        <td><b>Organiser</b></td>
                        <td><b>Peppermint Communications Pvt. Ltd.</b><br>
                            Unit 204-205, Building No.E2-A, Asmeeta Textile Park, MIDC,<br>
                            Additional Kalyan Bhiwandi Ind. Area, Plot #1, Village Kon,<br>
                            Taluka Bhiwandi, District Thane - 421311, Maharashtra, India<br>
                            <b>E:</b> contact@peppermint.co.in | <b>W:</b> www.peppermint.co.in
                        </td>

                    </tr>
                    <tr>
                        <td><b>Fair Dates &amp; Timings</b></td>
                        <td>
                   <table class="table-bordered border-dark">
                   <tr>

                   <tr>
                        <td>Monday, 20 th Feb. 2023</td>
                        <td>10 AM to 7 PM</td>
                    </tr>
                    <tr>
                        <td>Tuesday, 21 st Feb. 2023</td>
                        <td>10 AM to 7 PM</td>
                    </tr>

                    <tr>
                        <td>Wednesday, 22 nd Feb. 2023</td>
                        <td>10 AM to 7 PM</td>
                    </tr>
                   </tr>
                   </table>
                    </td>

                    </tr>


                    <tr>
                        <td><b>Visitor's Information</b></td>
                        <td>The fair is open to trade buyers only, with free admission on<br>
                            20 th to 22 nd February 2023. Visitors must register online or at the<br>
                            fair and wear the visitor badge during the fair. No visitors under<br>
                            18 will be admitted.</td>

                    </tr>

                    <tr>
                        <td><b>Opening Ceremony</b></td>
                        <td>The Opening Ceremony of the Exhibition will be held on 20th<br>
                            February 2023 at 10 a.m. All exhibitors are invited to attend the<br>
                            ceremony.</td>
                        
                    </tr>

                    
                </tbody>
            </table><br>
        </div>
           </div>




            
       </div>