{% extends 'layout/other-base.html' %}


{% load static %} {% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/select2.scss' %}">
{% endblock %}

{% block content %}

<div class="page-body">

  <div class="container-fluid">

    {% load static %} {% load sass_tags %}
    <!-- Container-fluid starts-->
    
    <style>

        
  .error ~ .select2-container--default .select2-selection--single {
    border-color: red !important ;
}
.valid ~ .select2-container--default .select2-selection--single {
  border-color: green !important;
}
  .error ~ .select2-container--default .select2-selection--multiple {
    border-color: red !important;
}
  .valid ~ .select2-container--default .select2-selection--multiple {
    border-color: green !important;
}


label.error {
  color: red;
  font-size: 0.6rem;
  display: block;
  margin-top: 5px;
}

.form-control.valid{
  border:1px solid green !important;
}

.form-control.error{
  border:1px solid red !important;
}

        
        .badge {
            background: url(https://intimasia.in/visiterRegistration19th/Visitors_ID.jpg);
            width: 269px;
            height: 354px;
            background-repeat: no-repeat;
        }

        .badge .badgeName {
            margin-top: 36%;
        }

        .qrbarcode {
            background: url(https://intimasia.in/visiterRegistration19th/barcode.png);
            width: 50px;
            height: 50px;
            background-size: 100% 100%;
        }
        .barcode {
            background: url(https://intimasia.in/visiterRegistration19th/barcode.gif);
            width: 100px;
            height: 60px;
            background-repeat: no-repeat;
            background-size: 90px 60px;
            margin-top: 10px;
        }

        #id_mobile_0 , #id_phone_0{
            position: absolute;
            width: 20%;
          }
          
          #id_mobile_1 , #id_phone_1{
               padding-left: 23%;
          }

        #id_whatsapp_0 , #id_phone_0{
            position: absolute;
            width: 20%;
          }
          
          #id_whatsapp_1 , #id_phone_1{
               padding-left: 23%;
          }

        body{
            font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        label{
          color:#171b2a;
          font-weight: 400;
        }
        h5{
        background-color: #d63384;
        color: whitesmoke;
        padding: 10px;
        border-radius: 5px
        }
      </style>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <!-- <h5>Form Wizard with icon</h5> -->
            <div class="">
            <img width="100%" src="{% static 'assets/images/banner/visitors-registration-banner.jpg' %}">
            </div>
          </div>
          <div class="card-body">
            <div class='row'>
            <form id="visitor-registration-form" class="f1 col-md-8" method="POST" >
              {% csrf_token %}
    
              <div class="f1-steps">
                <div class="f1-progress">
                  <div class="f1-progress-line" data-now-value="50" data-number-of-steps="2"></div>
                </div>
               
                <div class="f1-step active ">
                  <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                  <p>Registration Page 1</p>
                </div>
               
                <div class="f1-step">
                  <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                  <p>Registration Page 2</p>
                </div>

              </div>
             
              <fieldset>
                {% for errors in form.errors %}
                    <span>{{ errors }}</span>
                {% endfor %}
                <div class="row">
                    <h5>Personal Details</h5>
                    <div class="mb-2 col-md">
                        <label for="f1-first-name">First Name</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.first_name.errors }}</span>
                        {{ form.first_name }}
                    </div>
                    <div class="mb-2 col-md">
                        <label for="f1-last-name">Last name</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.last_name.errors }}</span>
                        {{ form.last_name }}
                    </div>
                </div>
               
                <div class="row">
                    <div class="mb-2 col-md">
                        <label for="f1-first-name">Gender</label>
                        <span class="text-danger block"> {{ form.gender.errors }}</span>
                        {{ form.gender }}
                    </div>
                    <div class="mb-2 col-md-4">
                        <label for="f1-last-name">Nationality </label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.nationality.errors }}</span>
                        {{ form.nationality }}
                    </div>
                    <div class="mb-2 col-md-6">
                        <label for="f1-last-name">Organization Name </label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.organization_name.errors }}</span>
                        {{ form.organization_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md">
                        <label for="f1-first-name">Job title</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.job_title.errors }}</span>
                        {{ form.job_title }}
                    </div>
                    <div class="mb-2 col-md">
                        <label for="f1-last-name">Department</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.department.errors }}</span>
                        {{ form.department }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md">
                        <label for="f1-first-name">Apartment, Unit, Building, Floor, etc.</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.apartment_unit_building_floor_etc.errors }}</span>
                        {{ form.apartment_unit_building_floor_etc }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md">
                        <label for="f1-first-name">Street Address</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.street_address.errors }}</span>
                        {{ form.street_address }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md">
                        <label for="f1-last-name">Zip code</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.zip_code.errors }}</span>
                        {{ form.zip_code }}
                    </div>
                    <div class="mb-2 col-md">
                        <label for="f1-last-name">Country</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.country.errors }}</span>
                        {{ form.country }}
                    </div>
                    <div class="mb-2 col-md">
                        <label for="f1-first-name">State </label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.state.errors }}</span>
                        {{ form.state }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md">
                        <label for="f1-first-name">Town/City/District </label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.town_city_district.errors }}</span>
                        {{ form.town_city_district }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md">
                        <label  for="f2-email">Email</label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.email.errors }}</span>
                        {{ form.email }}
                    </div>
                    <div class="mb-2 col-md">
                        <label for="cc-email">CC Email</label>
                        <span class="text-danger block"> {{ form.cc_email.errors }}</span>
                       
                        {{ form.cc_email }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md">
                        <label for="f1-first-name">Mobile </label>
                        <span class="text-danger">*</span>
                        
                        <span class="text-danger block"> {{ form.mobile.errors }}</span>
                        {{ form.mobile }}
                    </div>
                    <div class="mb-2 col-md">
                        <label for="f1-last-name">WhatsApp</label>
                        <span class="text-danger block"> {{ form.whatsapp.errors }}</span>
                        
                        {{ form.whatsapp }}
                     
                        <div class="d-flex mt-2 justify-content-around">
                            
                            {% for choices in form.whatsapp_same_as_mobile_or_no_wp %}
                            
                           
                            <div>
                                {% comment %} <input type="radio" id="id_whatsapp_same_as_mobile_or_no_wp_0" name="wpYesNo" class="form-check-input" aria-describedby="inputGroupPrepend2" placeholder="Phone"> {% endcomment %}
                              
                                {{ choices.tag }}
                                <label for="{{ choices.id_for_label }}" class="form-label ms">  {{ choices.choice_label }}</label>
                            </div>
                            {% endfor %}

                           
                        </div>

                    </div>

                </div>
                <div class="f1-buttons mt-2">
                
                  <button class="btn btn-primary btn-next" type="button">Next</button>
                </div>
              </fieldset>
    
              <fieldset>
                <div class="row flex-column">
                    <h5>Business Details</h5>
                    <div class="mb-2 col-md">
                        <label >Nature of your business? (Please select all that apply)<span class="text-danger">*</span></label>
                     
                            <span class="text-danger block"> {{ form.nature_of_business.errors }}</span>
                            {{ form.nature_of_business }}
                    </div>
                    <div class="mb-2 col-md">
                       
                       
                            <span class="text-danger block"> {{ form.nature_of_business_others.errors }}</span>
                            {{ form.nature_of_business_others }}
                    </div>
                </div>
    
                <div class="row flex-column">
                    <div class="mb-2 col-md">
                        <label >Product categories you deal in (Please Select all that apply)<span class="text-danger">*</span> </label>
                        
                            
                        <span class="text-danger block"> {{ form.product_category.errors }}</span>
                        {{ form.product_category }}
                    </div>
                    <div class="mb-2 col-md">
                       
                        

                     
                            <span class="text-danger block"> {{ form.product_category_others.errors }}</span>
                            {{ form.product_category_others }}
                    </div>
    
                    <div class="mb-2 col-md">
                        <label >Product sub categories you deal in (Please Select all that apply)<span class="text-danger">*</span></label>
                      
                        <span class="text-danger block">{{ form.product_sub_category.errors }}</span>
                        {{ form.product_sub_category }}
    
                    </div>
                    <div class="mb-2 col-md">
                       
                     
                            <span class="text-danger block"> {{ form.product_sub_category_others.errors }}</span>
                            {{ form.product_sub_category_others }}
                    </div>
                </div>
                <div class="row flex-column">
                    <div class="mb-2 col-md">
                        <label >Your Brand Name </label>
                      
                        <span class="text-danger block">{{ form.brand.errors }}</span>
                        {{ form.brand }}
    
                    </div>
                    <div class="mb-2 col-md">
                       
                       
                            <span class="text-danger block"> {{ form.product_brand_otherssub_category_others.errors }}</span>
                            {{ form.brand_others }}
                    </div>
                </div>
                <div class="row flex-column">
                    <h5>Additional Information</h5>
                    <div class="mb-2 col-md">
                        <label >How did you get to know about INTIMASIA<span class="text-danger">*</span> </label>
                       
                        <span class="text-danger block">{{ form.how_did_you_get_to_know_about_INTIMASIA.errors }}</span>
                        {{ form.how_did_you_get_to_know_about_INTIMASIA }}
                        
                        
                    </div>
                    <div class="mb-2 col-md">
                      
                       
                        <span class="text-danger block"> {{  form.how_did_you_get_to_know_about_INTIMASIA_others.errors }}</span>
                        {{ form.how_did_you_get_to_know_about_INTIMASIA_others }}  
                </div>
    
                    <div class="mb-2 col-md">
                        <label >Products of interest at INTIMASIA<span class="text-danger">*</span></label>
                      
                        <span class="text-danger block">{{ form.product_category_interest.errors }}</span>
                        {{ form.product_category_interest }}
                    </div>
                    <div class="mb-2 col-md">
                      
                       
                            <span class="text-danger block"> {{ form.product_category_interest_others.errors }}</span>
                            {{ form.product_category_interest_others }}
                    </div>
                    <div class="mb-2 col-md">
                        <label >Sub Products of interest at INTIMASIA<span class="text-danger">*</span></label>
                       
                        <span class="text-danger block">{{ form.product_sub_category_interest.errors }}</span>
                        {{ form.product_sub_category_interest }}
                    </div>
                    <div class="mb-2 col-md">
                          
                        
                          
                            <span class="text-danger block"> {{ form.product_sub_category_interest_others.errors }}</span>
                            {{ form.product_sub_category_interest_others }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <label> Would you like to subscribe to 'Inner Secrets' Magazine & Upgrade to VIP visitor<span class="text-danger">*</span></label>
                            {% for choices in form.subscribe_to_inner_secrets %}
                            
                            <div class='col'>
                                
                               {{ choices }}
                         
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col">
                        
                        <div class="row">
                            <label>Is this your first time to INTIMASIA<span class="text-danger">*</span> </label>
                            {% for choices in form.is_first_time_to_intimasia %}
                            <div class="col">
                                {{ choices }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <h5>Badge Preview</h5>
                    <div class="mb-2 col-md">
                        <P>Sometimes your name, organization or job title will not fit into the pre-printed badges. To avoid this problem, you can preview your badge below and change the way your details are printed on it. Please do not enter the details of somebody else, this is designed to customize how your badge will look</P>
                        
                        <span class="text-danger block"> {{ form.badge_name.errors }}</span>
                        {{ form.badge_name }}
                        <span class="text-danger block"> {{ form.badge_job_title.errors }}</span>
                        {{ form.badge_job_title }}
                        <span class="text-danger block"> {{ form.badge_company.errors }}</span>
                        {{ form.badge_company }}

                        
                        
                    </div>

                    <div class="col-md d-flex justify-content-center">
                        <div class="badge mt-3">

                            <h6 id='badgeName' class="text-dark badgeName badgeStyle "></h6>
                            <h6 id='badgejobTitle' class="text-dark badgejobTitle badgeStyle"></h6>
                            <h6 id='badgecompany' class="text-dark badgecompany badgeStyle"></h6>

                            <div class="col-md d-flex flex-column align-items-center">

                                <div class="qrbarcode">

                                </div>
                                <div class="barcode">

                                </div>

                            </div>
                            <h4 class="text-dark mt-2">VISITOR</h4>
                        </div>
                    </div>
                </div>
                
                <div class="f1-buttons mt-2">
                    <button class="btn btn-primary btn-previous" type="button">Previous</button>
                    <input class="btn btn-primary " type="submit" value='Submit' >
                  </div>

              </fieldset>
    
             
            </form>
            <div class=" mt-4 pt-4 mx-2 col-md">
                <video src="https://intimasia.in/assets/video/Registration_Page_Banner_01.mp4" width="100%"   muted="" loop="" autoplay=""></video>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->

  </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/form-wizard/form-wizard-three.js'%}"></script>
<script src="{% static 'assets/js/form-wizard/jquery.backstretch.min.js'%}"></script>

<script src="{% static 'assets/js/select2/select2.full.min.js'%}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js'%}"></script>


<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/form-validation-custom.js'%}"></script>
<!-- Plugins JS Ends-->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCrm3QzMrbB5bvfUhd2iAOnAt5aKO4sEfk&address"></script>
<script>
    const other_string='Others (Please specify)'

    const show_brand=()=>{
        if($('#id_brand').parent('div').hasClass('d-none')){
            $('#id_brand').parent('div').removeClass( "d-none" );
        }
    }
    const hide_brand=()=>{
        $('#id_brand').parent('div').addClass(  "d-none" );
    }


    const is_others_selected=(id)=>{
        options=$(`#${id} option:selected`).toArray().map(item => item.text);
        console.log(options.includes(`${other_string}`))
        return options.includes(`${other_string}`)
    }
    const show_others=(id)=>{
        console.log("shoing other..")
        if( $(`#${id}_others`).hasClass('d-none')) $(`#${id}_others`).removeClass( "d-none" )
    }
    const hide_others=(id)=>{
        console.log("removing other..")
        $(`#${id}_others`).addClass( "d-none" )
    }


    function GetDetails(pzip, pcity, pstate,pcountry) {
        var geocoder = new google.maps.Geocoder();
        var postalCode = document.getElementById(`${pzip}`).value;
        geocoder.geocode({ 'address': postalCode }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results[0])
                k=results[0]
                var address = results[0].formatted_address;
                var pin = results[0].address_components[results[0].address_components.length-4].long_name;
               
                var country = results[0].address_components[results[0].address_components.length - 1].long_name;
                var state = results[0].address_components[results[0].address_components.length - 2].long_name;
                var city = results[0].address_components[results[0].address_components.length - 3].long_name;
                // var city = results[0].address_components[1].long_name
                
                document.getElementById(`${pcountry}`).value = country;
                document.getElementById(`${pstate}`).value = state;
                document.getElementById(`${pcity}`).value = city;
            }
        });
    };


    $("#id_zip_code").focusout(()=>{

        GetDetails('id_zip_code','id_town_city_district','id_state','id_country')
    })

    $("select[multiple]").change((e)=>{
        console.log(e.currentTarget.id)  
        if(is_others_selected(e.currentTarget.id)){
            show_others(e.currentTarget.id)
        }else{
            hide_others(e.currentTarget.id)
        }
          
    })
    
    

    $( document ).ready(function() {
        hide_brand()
        $('#id_nature_of_business').change((e)=>{
            if($(e.currentTarget).val().includes('1'))show_brand()
            else hide_brand()
        })



        


        $('#id_first_name').on('input',(e)=>{
            $('#id_badge_name').val($('#id_first_name').val()+" "+$('#id_last_name').val())
            $('#badgeName').html($('#id_first_name').val()+" "+$('#id_last_name').val())
        })

        $('#id_last_name').on('input',(e)=>{
            $('#id_badge_name').val($('#id_first_name').val()+" "+$('#id_last_name').val())
            $('#badgeName').html($('#id_first_name').val()+" "+$('#id_last_name').val())
        })
        
        $('#id_job_title').on('input',(e)=>{
            $('#id_badge_job_title').val($('#id_job_title').val())
            $('#badgejobTitle').html($('#id_job_title').val())
        })


        $('#id_organization_name').on('input',(e)=>{
            $('#id_badge_company').val($('#id_organization_name').val())
            $('#badgecompany').html($('#id_organization_name').val())
        })



     
        $('#id_badge_name').on('input',(e)=>{
            $('#badgeName').html($(e.currentTarget).val())

        })

        $('#id_badge_job_title').on('input',(e)=>{
            $('#badgejobTitle').html($(e.currentTarget).val())

        })

        $('#id_badge_company').on('input',(e)=>{
            $('#badgecompany').html($(e.currentTarget).val())

        })

        $('#id_whatsapp_1').on('input',(e)=>{
            $('#id_whatsapp_same_as_mobile_or_no_wp_0').prop('checked', false)
            $('#id_whatsapp_same_as_mobile_or_no_wp_1').prop('checked', false)

        })
        $('#id_mobile_1').on('input',(e)=>{
            $('#id_whatsapp_same_as_mobile_or_no_wp_0').prop('checked', false)

        })

        $('#id_whatsapp_same_as_mobile_or_no_wp_0').on('click',(e)=>{
            $('#id_whatsapp_1').val($('#id_mobile_1').val())
            $('#id_whatsapp_1').removeAttr('disabled');



        })

        $('#id_whatsapp_same_as_mobile_or_no_wp_1').on('click',(e)=>{
            console.log("lkjfdslk")
            $('#id_whatsapp_1').attr('disabled','disabled');
            $('#id_whatsapp_1').val('');

        })




     
    });
</script>


{% endblock %}