{% extends 'layout/exhibitorBase/base.html' %} {% load static %} 
{% load sass_tags %} {% block content %}
<div class="page-body">
    <div class="container-fluid">
       



        {% if downloads is not empty %}
        
        
        {% for download in downloads %}
        
        
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{ download.title }}</h5>
              <p class="card-text">{{ download.description }}</p>
              <img src="{{ download.file.url }}" class="card-img-top" alt="email-signature-img">
              <div class="mt-1 ">
              <a href="{{ download.file.url }}" download class="btn nav-link   btn-primary"><i data-feather="download"></i><span class="d-block">Download</span></a>
        
              </div>
            </div>
        </div>
        
        
        {% endfor %}
        
        {% else %}  
        <div class="container">
            <h3 class='text-center m-4 card card-body'>No files to download </h3>
        </div>
        {% endif %}
        
        
        
        
        
        
    </div>
</div>

{% endblock content %}
