{% extends 'layout/visitor_base/base.html' %} {% load static %} {% load sass_tags %}
{% block content %}
<div class="page-body">

    
 

    <div class='container-fluid'>
       
            
            <div class="card">
               
               <div class="card-body">
                  <div >
                     <h4 class="mb-0">{{ exhibitor.companyName }}</h4>
                     <p class="mb-3">{{ exhibitor.city }}, {{ exhibitor.state }}, {{ exhibitor.country.upper }}</p>
                  </div> 
                  <div class="my-4">
                     <h6>Exhibitor Representatives</h6>
                     <div class="list-group mb-2">
                        
                              <li class="list-group-item row d-flex">
                                 
                                 <div class="col-md">
                                    <b>{{ exhibitor.contact_person_first_name }} {{ exhibitor.contact_person_last_name }}</b> 
                                    <div><small>{{ exhibitor.designation }}</small></div>
                                 </div>

                                 <div class='col-md-3  align-self-center align-self-end '>
                                 <button id='request-meeting ' class='btn btn-primary mt-2 mt-md-0  '>Meeting <i class="fa fa-paper-plane"></i></button>
                                 </div>
                                 

                              </li>

                          

                        
                     </div>
                  </div>
                  
               

                  <div class="row my-4">
                     <div class="col-md-12 mt-2 mb-3">
                     <h6>Nature Of Business</h6>
                     {% for list in exhibitor.nature_of_bussiness.all %}
                     <span class='badge rounded-pill badge-primary'>{{ list.name }}</span>
                     {% endfor %}
                  </div>

                     <div class="col-md-12 mt-2 mb-3">
                     <h6>Brands</h6>
                     {% for list in exhibitor.our_brand.all %}
                     <span class='badge rounded-pill badge-primary'>{{ list.name }}</span>
                     {% endfor %}
                  </div>

                     <div class="col-md-12 mt-2 mb-3">
                     <h6>Product Catagory</h6>
                     {% for list in exhibitor.product_catogory.all %}
                     <span class='badge rounded-pill badge-primary'>{{ list.name }}</span>
                     {% endfor %}
                  </div>

                     <div class="col-md-12 mt-2 mb-3">
                     <h6>Product Sub Catagory</h6>
                     {% for list in exhibitor.product_sub_catogory.all %}
                     <span class='badge rounded-pill badge-primary'>{{ list.name }}</span>
                     {% endfor %}
                  </div>
                  </div>
                  
               </div>
            </div>
  
            
           
           
         
  
    </div>




</div>


{% endblock content %}




{% block scriptcontent %}

<script>
   
</script>

{% endblock scriptcontent %}