{% extends 'layout/other-base.html' %}

{% load static %} {% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
<style>
    .errorlist{
        color:red;
    }
    .helptext{
        color:brown;
    }
</style>
{% endblock %}

{% block content %}

{% include "pages/ExhibitorPages/reset-password/components/reset-password.html" %}

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}