{% extends 'layout/exhibitorBase/base.html' %} {% load static %} {% load sass_tags %}
{% block content %}
<div class="page-body">


    {% include "pages/ExhibitorPages/components/show_info.html" %}
    
</div>


{% include "./popupModels/welcome_message.html" %}
{% include "./popupModels/terms_and_condition.html" %}
{% endblock content %}




{% block scriptcontent %}
<script>


    $(".welcome-model-close").click(function () {
        $("#welcomeModel").modal("hide")
        $("#terms_and_Condition").modal('show');
    })

    $(".terms-and-conditions-model-close").click(function () {
        if ($("#terms-and-conditions").is(":checked")) {
            $("#terms_and_Condition").modal('hide');
        }
    })


    function welcomeModel() {

        $("#welcomeModel").modal({
            backdrop: 'static',
            keyboard: false
        });
        $("#terms_and_Condition").modal({
            backdrop: 'static',
            keyboard: false
        });
        $("#welcomeModel").modal("show")
    }

    $(document).ready(function () {
        let first_login = '{{ firstLogin }}';
        if (first_login === "True") welcomeModel();
    });
</script>
{% endblock scriptcontent %}