{% extends 'layout/exhibitorBase/base.html' %} {% load static %} 
{% load sass_tags %} {% block content %}
<div class="page-body">
    <div class="container-fluid">
    <div class="card">



    
                       <div class="card-body">
                        <br><h4 class="text-center">List of Important Contacts</h4>
                        <div class="card-header">
                            <h6>Organising Team</h6>
                        </div>

                        <div class="table-responsive">
                            <table class=" table table-bordered border-dark ">
                                <!-- <caption>List of users</caption> -->
                                <!-- <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th>Dates</th>
        
                                        <th scope="col">BARE SPACE BOOTH<br>(Above 30 sqm)</th>
                                        <th>SHELL SCHEME BOOTH</th>
        
                                    </tr>
                                </thead> -->
                                <tbody>
                                    <tr>
        
                                        <td>Chief Organiser</td>
                                        <td>Mr. Yusuf Dohadwala</td>
                                        <td>NA</td>
                                        <td>yusuf@peppermint.co.in</td>
        
                                    </tr>
                                    <tr>
        
                                        <td>Booth Space &amp; Branding</td>
                                        <td>Ms. Mariya Dohadwala</td>
                                        <td>+91-9920836252</td>
                                        <td>mariya@peppermint.co.in</td>
        
                                    </tr>
                                    <tr>
                                        <td>Exhibitor Coordination
                                            (Bare Space)</td>
                                        <td>Ms. Snehal Barve</td>
                                        <td>+91-8080899928</td>
                                        <td>snehal@peppermint.co.in</td>
        
                                    </tr>
        
        
                                    <tr>
                                        <td>Exhibitor Coordination
                                            (Shell Space - Brands)</td>
                                        <td>Ms. Rupali Singh</td>
                                        <td></td>
                                        <td>rupali@peppermint.co.in</td>
        
                                    </tr>
        
                                    <tr>
                                        <td>Exhibitor Coordination
                                            (Bare Space - Suppliers)</td>
                                        <td>Mr. Mayur Bhalerao</td>
                                        <td></td>
                                        <td>mayur@peppermint.co.in</td>
        
                                    </tr>
        
        
                                    <tr>
                                        <td>Visitor Coordination</td>
                                        <td>Ms. Vandana</td>
                                        <td>+91-9820504040</td>
                                        <td>intimasia@gmail.com</td>
        
                                    </tr>
        
        
                                    <tr>
                                        <td>Production</td>
                                        <td>Mr. Nilesh Palande</td>
                                        <td>+91-7506399936</td>
                                        <td>events@peppermint.co.in</td>
        
                                    </tr>


                                    <tr>
                                        <td>Technical Support</td>
                                        <td>Mr. Piyush Mishra</td>
                                        <td>+91-9518575982</td>
                                        <td>developer@peppermint.co.in</td>
        
                                    </tr>
        
                                </tbody>
                            </table>
                        </div>

                        <div class="card-header">
                             <h6>On Site</h6>
                        </div>
                       
                         <div class="table-responsive">
                        <table class=" table table-bordered border-dark ">
                            <!-- <caption>List of users</caption> -->
                            <!-- <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th>Dates</th>
    
                                    <th scope="col">BARE SPACE BOOTH<br>(Above 30 sqm)</th>
                                    <th>SHELL SCHEME BOOTH</th>
    
                                </tr>
                            </thead> -->
                            <tbody>
                                <tr>
    
                                    <td>Exhibitor Queries
                                        (Bare Space)</td>
                                    <td>Ms. Snehal Barve</td>
                                    <td>+91-8080899928</td>
                                    <td>snehal@peppermint.co.in</td>
    
                                </tr>
                                <tr>
    
                                    <td>Exhibitor Queries
                                        (Shell Space - Brands)</td>
                                    <td>Ms. Rupali Singh</td>
                                    <td></td>
                                    <td>rupali@peppermint.co.in</td>
    
                                </tr>
                                <tr>
                                    <td>Exhibitor Queries
                                        (Bare Space - Suppliers)</td>
                                    <td>Mr. Mayur Bhalerao</td>
                                    <td></td>
                                    <td>mayur@peppermint.co.in</td>
    
                                </tr>
    
    
                                <tr>
                                    <td>Exhibitor Coordination
                                        (Shell Space - Brands)</td>
                                    <td>Ms. Rupali Singh</td>
                                    <td></td>
                                    <td>rupali@peppermint.co.in</td>
    
                                </tr>
    
                                <tr>
                                    <td>Exhibitor Coordination
                                        (Bare Space - Suppliers)</td>
                                    <td>Mr. Mayur Bhalerao</td>
                                    <td></td>
                                    <td>mayur@peppermint.co.in</td>
    
                                </tr>
    
    
                                <tr>
                                    <td>Visitor Queries</td>
                                    <td>Ms. Vandana</td>
                                    <td>+91-9820504040</td>
                                    <td>intimasia@gmail.com</td>
    
                                </tr>
    
    
                                <tr>
                                    <td>Head Production</td>
                                    <td>Mr. Ganesh Agawane</td>
                                    <td>+91-7506399952</td>
                                    <td>events@peppermint.co.in</td>
    
                                </tr>


                                <tr>
                                    <td>Production Executive
                                        (Bare Space)</td>
                                    <td>Mr. Sandeep Patil</td>
                                    <td>+91-7506712388</td>
                                    <td>events@peppermint.co.in</td>
    
                                </tr>



                                <tr>
                                    <td>Production Executive
                                        (Shell Space - Brands)</td>
                                    <td>Mr. Vaibhesh Patil</td>
                                    <td>+91-7506712388</td>
                                    <td>events@peppermint.co.in</td>
    
                                </tr>


                                <tr>
                                    <td>Production Executive
                                        (Bare Space - Suppliers)</td>
                                    <td>Mr. Nilesh Palande</td>
                                    <td>+91-7506399936</td>
                                    <td>events@peppermint.co.in</td>
    
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                       </div>
                        
                        

                    </div>
    </div>
</div>

{% endblock content %}
