{% extends 'layout/exhibitorBase/base.html' %} {% load static %} 
{% load sass_tags %} {% block content %}
<div class="page-body">
    <div class="container-fluid mt-4">
       
                    <div class="card">



                        <div class="card-header pb-0">
                            <br><h5>Move-in &amp; Move-out Schedule</u></h5>
                        </div>
    
    
                       <div class="card-body">
                        <div class="table-responsive">
                        <table class=" table table-bordered border-dark text-center">
                            <!-- <caption>List of users</caption> -->
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th>Dates</th>
    
                                    <th scope="col">BARE SPACE BOOTH<br>(Above 30 sqm)</th>
                                    <th>SHELL SCHEME BOOTH</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
    
                                    <td>Booth Construction</td>
                                    <td>18 th Feb. 2023</td>
                                    <td>10:00 AM to 10:00 PM</td>
                                    <td>NA</td>
    
                                </tr>
                                <tr>
    
                                    <td>Move-In Exhibits</td>
                                    <td>19 th Feb. 2023</td>
                                    <td>12.00 PM to 10:00 PM</td>
                                    <td>12.00 PM to 10:00 PM</td>
    
                                </tr>
                                <tr>
                                    <td>Move-Out Exhibits</td>
                                    <td>23 th Feb. 2023</td>
                                    <td>07.00 PM Onwards</td>
                                    <td>7.00 PM Onwards</td>
    
                                </tr>
    
    
                                <tr>
                                    <td>Booth Dismantling</td>
                                    <td>23 rd Feb. 2023</td>
                                    <td>08:00 PM to 01:00 AM</td>
                                    <td>08:00 PM to 01:00 AM</td>
    
                                </tr>
    
                                <tr>
                                    <td>Electricity Turn-Off</td>
                                    <td>18 th - 19 th Feb. 2023</td>
                                    <td>10.00 PM</td>
                                    <td>10.00 PM</td>
    
                                </tr>
    
    
                                <tr>
                                    <td>Electricity Turn-Off</td>
                                    <td>20 th - 22 nd Feb. 2023</td>
                                    <td>07.30 PM</td>
                                    <td>07.30 PM</td>
    
                                </tr>
    
    
                                <tr>
                                    <td>Electricity Turn-Off</td>
                                    <td>23 rd Feb. 2023</td>
                                    <td>01:00 AM</td>
                                    <td>01:00 AM</td>
    
                                </tr>
    
                            </tbody>
                        </table><br>
                    </div>

                        <h5>IMPORTANT NOTE FOR EXHIBITORS WITH CUSTOM BUILT BOOTHS</h5>
                        <ol>
                            <li> The exhibitors and/or their contractors would not be permitted to undertake any substantial work such as carpentry, painting, welding, plastering, polishing and any other dust inducing work ath the venue. </li>
                            <li>Exhibitors and their contractors are advised to bring pre-fabricated booths which can be assembled and fitted with ease in the shortest possible time requiring only final finishing touches.</li>
                            <li>All exhibitors who have taken 30sqm & above space must ensure that their booth dismantling is completed by 10.00 p.m. on 22nd January 2019 in order to avoid any late charges imposed by the Venue.</li>
                            <li>Exibitors need to take prior approvals from the organisers before finalishing booth contractor/Stall design agency which is not listed in organisors approval list of vendors.</li>
                        </ol>
                       </div>
                        
                        

                    </div>
    
                    
    </div>
</div>

{% endblock content %}
